body {
  text-align: center;
      background: url("img/office-space-best-workplace-movie-of-all-time.png");
      background-size: cover;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-attachment: fixed; /* Resize the background image to cover the entire container */
      color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-family: helvetica;
  }
  h1
{
font-size: 70px;
}
input[type="submit"]
  {
      background: grey;
      color: white;
    padding: 10px;
    }
a
{
color: black;
}
ul
{
  text-align: center;
  padding: 10px;
  background: rgba(225, 225, 225, 0.5);
  color: white;
  margin-top:25;
margin-bottom:0;
margin-left:auto;
margin-right:auto;
}
li {
  display: inline; /* margin creates space on the outside of an element while padding creates space on the inside */
  padding: 0px 10px 0px 10px; /* top right bottom left*/
}
  @media (max-width: 500px) {
    li {
      display: block;
      padding: 5px;
    }
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About

