body {
  text-align: center;
      background: url("https://i.ytimg.com/vi/7n6pXfvNliI/maxresdefault.jpg");
      background-size: cover;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-attachment: fixed; /* Resize the background image to cover the entire container */
      color: white;
      font-family: helvetica;
  }
  input[type="submit"]
  {
      background: light blue;
      color: white;
    }
ul
{
  text-align: center;
  padding: 10px;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px; /* top right bottom left*/
}
